<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">

    <Properties>
        <Property name="APP_NAME">simpleproducer</Property>
        <Property name="LOG_LOC">logs</Property>
        <Property name="INTERVAL">1</Property>
        <Property name="LOG_PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="file-log" fileName="${LOG_LOC}/${APP_NAME}.log" filePattern="${LOG_LOC}/${APP_NAME}-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>${LOG_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${INTERVAL}" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <appender-ref ref="console-log" />
            <appender-ref ref="file-log" />
        </Root>
    </Loggers>

</Configuration>